grv_decay/
pythia/decayLHE
pythia/decayLHE_Evis
pythia/decayLHE_nops
pythia/ee_Nch
pythia/hadron_dist
pythia/pp_Nch
result_*
*_finish.o*
grv_2body+n1ff
grv_azh01_n1jetjet
grv_decay_2body_test
grv_decay_old 
grv_decay_test
grv_n1jetjet
test_finish.*
grv_2body+n1jetjet/Cards/param_card_temp.dat